<!DOCTYPE html>
<html lang="cn">

<head>
	<meta charset="UTF-8">
	<title>影子控股官网</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
</head>

<body>